<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cs_3420.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAA15D681E726E2B0028F47B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE6F4031E9B2A82005695A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE6F43F1E9B32B0005695A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
